<launch>
    <include file="$(find move_base)/launch/move_base.launch">
        <arg name="listen_offboard" value="true" />
    </include>
    <include file="$(find particle_filter)/launch/slam.launch" />
    <node pkg="f1tenth_purepursuit" type="pure_pursuit.py" name="pure_pursuit" launch-prefix="xterm -e" args="car_9 raceline" />
</launch>